.quiz-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.quiz-info {
    position: relative;
    width: 100%;
}

.quiz-question-number {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 50px;
}
