.answer-button {
    background-color: white; /* Green */
    border: 4px solid #311B92;
    font-weight: 500;
    border-radius: 12px;
    color: #311B92;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
    cursor: pointer;
    width: 100%;
    height: 100%;
    outline: none;
    white-space: normal;
}

.answer-button:hover {
    background-color: #311B92;
    color: white
}

.answer-option {
    padding: 10px;
    flex: 1;
}
