.sidebar {
    width: 100%;
    height: 100%;
    background-image: url('sidebar-background.png')
}

.sidebar-logo {
    width: 100%;
    height: 100%;
    background-size: 100%;
    object-fit: fill;
    overflow: hidden;
}
