@font-face {
  font-family: 'GTWalsheim';
  font-style: normal;
  font-weight: 500;
  src: local('GT Walsheim'), local('GTWalsheim'),
  url('./fonts/GTWalsheim-RegularOblique.woff') format('woff')
}

.App-container {
  display: flex;
  width: 100%;
  max-height: 100vh;
  background-color: #FDFDFD;
}

.App-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}

.App-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 80%;
  text-align: center;
  font-family: 'GTWalsheim', 'Helvetica', sans-serif;
}

.App-footer {
  width: 100%;
  height: 20%;
  margin-top: auto;
}

.App-sidebar {
  width: 20%;
  height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: 1026px) {
  .App-footer {
    display: none;
    visibility: hidden;
  }
}
