.btn {
    color: #FEFEFE;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    border: none;
    box-shadow: 0 15px 25px rgba(229, 111, 56, 0.5);
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0 !important;
}

.btn:hover {
    background-color: #673AB7;
    box-shadow: 0 15px 25px rgba(103, 58, 183, 0.8);
    color: #fff;
    transform: translateY(-7px);
}

.btn-orange {
    background-color: #E56F38;
}

.common {
    box-sizing: border-box;
    border-radius: 16px;
    width: 100%;
}
