.ty-form {
    width: 60%;
}

.ty-header {
    font-size: 64px;
    font-weight: 900;
}

.ty-content {
    font-size: 24px;
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 50px;
}

.ty-button {
    display: inline-flex;
    justify-content: center;
    width:70%;
}
