.input {
    background-color: #E8EAF6;
    font-size: 32px;
    color: #796DBA;
    border-width: 3px;
    border-style: solid;
    border-color: #B19FDB;
    transition-property: border-width, border-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    display: block;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

input + input {
    margin-top: 40px;
}

input + button {
    margin-top: 40px;
}

::placeholder {
    color: #796DBA;
}

.input:focus {
    border-width: 4px;
    border-color: #673AB7;
    outline: none;
}

.common {
    box-sizing: border-box;
    border-radius: 16px;
    width: 100%;
}

.login-form {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
