.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    letter-spacing: 8px;
    font-size: 4.5em;
    font-weight: 700;
    height: 100%;
}

.yellow {
    color: #F4BE18;
}

.pink {
    color: #E4589E;
}

.green {
    color: #81C469;
}

.cyan {
    color: #5ACAEE;
}

.red {
    color: #F04E5A;
}

.purple {
    color: #4F488B;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
