.timer-container {
    display: flex;
    flex-direction: column;
}

.timer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    height: 140px;
    margin: 0 20px 0 auto;
}

.pulseit {
    -webkit-animation: pulse linear .6s infinite;
    animation: pulse linear .6s infinite;
}

@-webkit-keyframes pulse {
    0% { font-size: 70px; }
    50% { font-size: 85px; }
    100% { font-size: 70px; }
}

@keyframes pulse {
    0% { font-size: 70px; }
    50% { font-size: 85px; }
    100% { font-size: 70px; }
}

.gradienize {
    -webkit-animation: grad linear .8s infinite;
    animation: grad linear .8s infinite;
}

@-webkit-keyframes grad {
    0% { color: #F04E5A; }
    50% { color: #FBD5D7; }
    100% { color: #F04E5A; }
}

@keyframes grad {
    0% { color: #F04E5A; }
    50% { color: #FBD5D7; }
    100% { color: #F04E5A; }
}

.timer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.timer-question {
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
}

.timer-seconds {
    color: #5ACAEE;
}

.timer-minutes {
    color: #E4589E;
}

.progress-bar {
    position: relative;
    height: 30px;
    min-width: 450px;
    border-radius: 50px;
}

.progress-bar-purple {
    background: #DBD0EE;
}

.progress-bar-red {
    background: #FBD5D7;
}

.filler {
    background: #673AB7;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}

.filler-purple {
    background: #673AB7;
}

.filler-red {
    background: #F04E5A;
}
